.pole {
  padding: 1px;
  height: 500px;
  width: 500px;
  border-radius: 7px;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}
body {
	margin: 50px;
	background-color: grey; 
}
.excel {
	width: 20px;
	height: 20px;
	margin: 0 auto;

}